//import Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
    /*  background-color: #F5F5F7; */
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-left: 80px;
}

.header {
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}

.nav-list {
    margin-right: 80px;
    display: flex;
    align-items: center;

    li {
        list-style-type: none;
        padding-right: 50px;
        a{
        color: black;
        font-weight: 600;
        }
    }
}