//import Poppins font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}

body {
    /*  background-color: black; */
    background-color: #F5F5F7;
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-left: 80px;
}

.header {
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}

.nav-list {
    margin-right: 80px;
    display: flex;
    align-items: center;

    li {
        font-size: 1.2rem;
        list-style-type: none;
        padding-right: 20px;

        a {
            padding: 15px 15px 10.5px 15px;
            color: black;
            font-weight: bolder;
        }

        a:hover {
            border-bottom: 5px solid red;
        }
    }
}

// Articles
.window {
    margin: 20px 100px 10px 100px;
}

.pg-title {
    margin-bottom: 20px;
}

.art-container {
    display: grid;
    grid-template-columns: 900px 1fr;
    gap: 20px;
}

.article-block {
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.recent-articles {
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.o-b-link {
    text-align: right;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}



// user article
.user-article-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.user {
    display: flex;
    gap: 15px;
}
.user-name{
    color: black;
}
.user-id
{
    margin: -5px 0px;
    font-weight: 500;
    color: red;
    &:hover{
        text-decoration: underline;
    }
}
.article-title {
    font-size: 2rem;
}

.pub-date {
    font-size: 1rem;
    color: grey;
    padding-bottom: .5rem;
}
.article-content{
    text-align: justify;
    line-height:1.7;
}