//import Poppins font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}

body {
    /*  background-color: black; */
    background-color: #F5F5F7;
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    margin-left: 80px;
}

.header {
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}

.nav-list {
    margin-right: 80px;
    display: flex;
    align-items: center;

    li {
        font-size: 1.2rem;
        list-style-type: none;
        padding-right: 20px;

        a {
            padding: 15px 15px 10.5px 15px;
            color: black;
            font-weight: bolder;
        }

        a:hover {
            border-bottom: 5px solid red;
        }
    }
}

// Articles
.window {
    margin: 20px 100px 10px 100px;
}

.pg-title {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.art-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;

}

.category-container {
    height: fit-content;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}
.category-sticky{
    position: sticky;
    top: 0px;
    left:0px
}
li {
    list-style-type: none;
}

.cat-list button {
    width: 100%;
    font-size:1.1rem ;
    color: black;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: white;
    border: none;
    text-align: left;
    padding: 5px 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(128, 128, 128, 0.2);
    }

}

.article-block {
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}

.recent-articles {
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}

.o-b-link {
    text-align: right;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}



// user article
.user-article {
    display: flex;
    gap: 10px;
}

.user-article-container {
    width: 900px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}

.user-profile-container {
    width: 340px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.2);
}

.user {
    display: flex;
    gap: 15px;
}

.user-name {
    color: black;
}

.user-id {
    margin: -5px 0px;
    font-weight: 400;
    color: grey;

    &:hover {
        text-decoration: underline;
    }
}

.user-details {
    margin-top: 20px;
}

.user-details-span {
    color: black;
}

.view-profile {
    margin-top: 10px;
    width: 100%;
    background-color: #F5F5F7;
    border: none;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}

.article-title {
    font-size: 2rem;
}

.pub-date {
    font-size: 1rem;
    color: grey;
    padding-bottom: .5rem;
}

.article-content {
    text-align: justify;
    line-height: 1.7;
}

//profile

.profile-page {
    display: flex;
    justify-content: center;
    width: 400px;
    height: fit-content;
    background-color: white;
}